* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* NAV */

.nav {
    width: 80%;
    display:flex;
    align-items:center;
    gap:1rem;
    background:#eee;
    padding:1rem;
    border-radius: 25px;
    margin: 10px auto;
}

.nav .logo {
    font-weight:700;
    font-size:1.4rem;
}

.nav input[type=search]{
    padding: .4rem;
    flex:1;
    max-width: 450px;
}

.menu {
    list-style:none;
    display:flex;
    gap:1rem;
    position:relative;

}

.menu > li {
    position:relative;
}

.menu a {
    text-decoration:none;
    color:#000;
}

/* submenu nivel 1 */
.menu-nivel1 {
    list-style:none;
    position:absolute;
    background:#fff;
    padding: .5rem;
    top:100%;
    left:0;
    display:none;
}

/* submenu nivel 2 */
.menu-nivel2 {
    list-style:none;
    position:absolute;
    background:#fff;
    padding: .5rem;
    top:0;
    left:100%;
    display:none;
}

.submenu:hover > .menu-nivel1,
.submenu:hover > .menu-nivel2 {
    display:block;
}

.menu-nivel1 li,
.menu-nivel2 li {
    padding:.2rem .4rem;
    white-space:nowrap;
}

.menu-nivel1 li:hover,
.menu-nivel2 li:hover {
    background:#eee;
}
